<section class="how-work position-relative">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-md-5 p-0 ">
                <p class="mt-5 w-50 ms-auto fw-bold fs-6">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the
                </p>
            </div>
            <div class="col-md-7 p-0 ">
                <h1 class="w-50 mx-auto mt-3 text-uppercase text-white senFont">How we work</h1>
            </div>
            <div class="row justify-content-between position-absolute products">
                <div class="col-md-3">
                    <div class="card-product mx-auto">
                        <img src="assets/images/img (1).png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-product mx-auto">
                        <img src="assets/images/img (2).png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-product mx-auto">
                        <img src="assets/images/img (3).png" alt="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-product  mx-auto">
                        <img src="assets/images/img (4).png"  alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>